html,
body {
    padding: 0;
    margin: 0;
    color: floralwhite;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
}

* {
  box-sizing: border-box;
}

 p {
     font-size: 0.8em;
     text-shadow: 2px 1px 1px #555555;
 }


h1 {
    margin: 0.6em;
    font-size: 2.7em;
    letter-spacing: 0.1em;
   -webkit-animation: text-shadow-pop-br 1s both;
    animation: text-shadow-pop-br 1s both;
}

/**
 * ----------------------------------------
 * animation text-shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
