.container, .wrapper, .button, .colorContainer , .brush, .codeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  min-height: 100vh;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


.wrapper {
    flex-direction: column;
}

.title {
    margin: 0.6rem;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    -webkit-animation: text-shadow-pop-br 4.7s both;
    animation: text-shadow-pop-br 4.7s both;
}

/**
 * ----------------------------------------
 * animation text-shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #555555, 2px 2px #555555, 3px 3px #555555, 4px 4px #555555, 5px 5px #555555, 6px 6px #555555, 7px 7px #555555, 8px 8px #555555;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}


.color {
  line-height: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px 0 rgb(103 103 103 / 75%);
  margin: 0.8rem;
  display: flex;
  align-items: center;
}

.colorLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.brush {
  justify-content: flex-end;

}

.colorPicker{
  position: absolute;
  opacity: 0.01;
  width: 6.8rem;
  padding-top: 2.2rem;
  cursor: pointer;
}

.randomColorButton {
    cursor: pointer;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 15px;
    border: none;
    border-radius: 30px;
    background: floralwhite;
    box-shadow: 3px 3px 5px 0 rgb(103 103 103 / 75%);
    font-size: 20px;
    color: black;
    font-family: 'Varela Round', sans-serif;
    transition: box-shadow .2s ease-in-out .2s;
}


.randomColorButton:active {
  box-shadow: inset 3px 3px 3px rgb(103 103 103 / 75%);
}

.codeText {
  font-size: 0.8em;
  padding: 0.6em;
  background: #6b6b6b6e;
  border-radius: 5px;
  border-left: 2px solid floralwhite;
}

.copyButton {
  cursor: pointer;
  background-color: transparent;
  padding: 3px;
}

.copied {
  font-size: .4rem;
}


