
.wrapper {
    min-height: 100%;
    min-width: 100%;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
}

.pageTitle {
   color: floralwhite;
    height: 100px;
    position: relative;
}

.boxWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.displayBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    flex: 1 0 30%;
}

.inputBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex: 1 0 30%;
}

.inputInnerBox {
    display: flex;
    flex-direction: column;
    margin: 5%;
}
