
.wrapper {
    height: 100%;
    width: 100%;
    color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 auto;
    overflow: auto;
}

.pageTitle {
    height: 100px;
    position: relative;
}

.boxWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.displayBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    flex: 1 0 30%;
    -webkit-animation: roll-in-left 0.6s ease-out both;
    animation: roll-in-left 0.6s ease-out both;
}

.inputBox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex: 1 0 30%;
}

.inputInnerBox {
    display: flex;
    flex-direction: column;
    margin: 5%;
    height: 80%;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}
@keyframes roll-in-left {
    0% {
        -webkit-transform: translateX(-800px) rotate(-540deg);
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
